.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1rem;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.sources-container {
  --color-background-container: color-mix(in srgb, var(--color-background) 90%, var(--color));
  --color-container: color-mix(in srgb, var(--color) 80%, var(--color-background));

  width: clamp(15rem, 100%, 30rem);
  padding: 0.5rem 1rem;
  margin: 0 auto;
  /* background-color: var(--color-background); */
}

.sources__select {
  width: 100%;
  font-size: 1.5rem;
  padding: 0 1rem;
  border: 1px solid var(--color-container);
  border-radius: 0.3rem;
  color: color-mix(in srgb, var(--color) 80%, black);
  background-color: var(--color-background-container);

  &:focus-visible {
    border: 1px solid var(--color-container);
    outline: none;
  }
}

.sources__select option {
  color: color-mix(in srgb, var(--color) 90%, black);
  background-color: var(--color-background-container);

  &:nth-child(1) {
    color: transparent;
  }
}