* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100dvh;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  --color-background: #17181c;
  --color: #fff;
  --max-width: 64rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--color);
    background: var(--color-background);
    font-family: sans-serif;
}

body:before {
  content: '';
  box-sizing: border-box;
  display: block;
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;

  background-image: url("./assets/img/background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.2;
}

header {
    flex: 0 0 auto;
    padding: 2rem 1rem 1rem;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.5rem;
    filter: drop-shadow(0 0 0.5rem var(--color));
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: clamp(1rem, 100%, var(--max-width));
}

.footer {
    flex: 0 0 auto;
    width: clamp(1rem, 100%, var(--max-width));
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: var(--color);
    user-select: none;
}

.footer__repo,
.footer__year,
.footer__logo {
  display: flex;
  flex: 0 1 100%;
  transition-duration: 200ms;
}

.footer__repo {
  & a {
    color: var(--color);
    text-decoration: none;
  }
}

.footer__year {
  justify-content: center;
}

.footer__logo {
  justify-content: end;

  & svg {
    fill: var(--color);
    width: 4rem;
  }

  .st5 {
    fill: var(--color-background);
  }
}

@media (hover: hover) {
  .footer__repo {
    & a {
      &:hover {
        color: color-mix(in srgb, var(--color) 80%, var(--color-background) 20%);
      }
    }
  }

  .footer__logo {
    height: 100%;
    align-items: center;

    & a {
      display: inline-block;
      width: 4rem;
      aspect-ratio: 64/23;
      background-image: url("./assets/img/logo.webp");
      background-size: contain;
      background-repeat: no-repeat;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

.select {
  font-size: 1.5rem;
  width: 100%;
  padding: 0 1rem;
  border: 1px solid var(--color-container);
  border-radius: 0.3rem;
  color: color-mix(in srgb, var(--color) 80%, black);
  background-color: var(--color-background-container);

  &:focus-visible {
    border: 1px solid var(--color-container);
    outline: none;
  }

  & option {
    color: color-mix(in srgb, var(--color) 90%, black);
    background-color: var(--color-background-container);

    &:nth-child(1) {
      color: transparent;
    }
  }

  & option[value="all"] {
    font-weight: 700;
    text-transform: uppercase;
  }
}