:root {
  --opacity-cell-text: 0;
  --hover-invert: 0.2;

  --body-bacground: rgb(230, 255, 230);
  --blocks-background: rgb(231, 255, 255);

  --cell-background: rgb(240, 240, 240);
  --cell-background-fill: rgb(0, 0, 0);
  --cell-border-color: rgb(200, 200, 200);

  --border-color: rgb(0, 0, 0);
  --score-lastgame: rgb(165, 245, 140);
  --common-text-color: rgb(0, 0, 0);
  --score-shadow: rgb(125, 125, 125);

  --color-warning: 255, 80, 80;
  --color-warning-shadow: 0, 0, 0;

  --border-radius: 0.2rem;
  --btn-icon-hover: rgba(90, 0, 255, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100dvh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;

  height: 100%;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--common-text-color);;
  background-color: var(--body-bacground);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  flex: 1 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  height: 100%;
  color: var(--common-text-color);
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  background-color: var(--blocks-background);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  user-select: none;

  & svg {
    width: 1.5rem;
    height: auto;
  }
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    filter: brightness(1.2);

    & svg {
      fill: var(--btn-icon-hover);
    }
  }
}

.gameover {
  pointer-events: none;
  filter: blur(1px) opacity(0.8);
}