.dialog {
  --font-size: 1.5rem;
  --border-color-logout: rgb(119, 168, 180);
  --color-text-logout: rgb(255, 255, 255);
  --background-color-logout: rgb(20, 10, 88);

  position: fixed;
  width: clamp(5rem, 100%, 20rem);
  height: clamp(5rem, 100%, 15rem);
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 2rem;

  border: 4px solid var(--border-color-logout);
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 1rem var(--background-color-logout);
  color: var(--color-text-logout);
  background-color: var(--background-color-logout);

  & button {
    font-size: var(--font-size);
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

.dialog__text {
  font-size: var(--font-size);
  padding: 1rem;
}