.dialog {
  --font-size: 1.5rem;

  position: fixed;
  width: clamp(5rem, 100%, 20rem);
  height: clamp(5rem, 100%, 15rem);
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 2rem;

  border: 4px solid grey;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 1rem grey;

  & button {
    font-size: var(--font-size);
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

.dialog__text {
  font-size: var(--font-size);
  padding: 1rem;
}