.winners {
  flex: 1 1 auto;
  background-color: var(--backgound-color-page);
}

.page {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr;

  & div {
    padding: 0.2rem;
    border: 1px solid rgb(209, 209, 209);
  }
}

.winners-header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr;

  & div {
    padding: 0.2rem;
    border: 1px solid rgb(209, 209, 209);
    font-weight: 700;
    font-size: 1rem;
    user-select: none;

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5) {
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          color: blue;
        }
      }
    }
  }
}