.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-title {
  color: $text-dark;
  letter-spacing: -0.15px;

  @extend %font-heading-2;

  & span {
    @extend %font-heading-2-accent;
  }
}

.about-content {
  display: flex;
  gap: 39px;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.about-content-col {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  gap: 40px;
}

.about-content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  overflow: hidden;

  border-radius: 20px;

  & img {
    width: 100%;
    object-fit: cover;
    transition-duration: $transition-duration-slow;
    transition-delay: $transition-delay-normal;
    transform: scale(1.1);
  }

  @media (hover: hover) {

    &:hover img {
      transform: scale(1);
    }
  }

  @media (max-width: $tablet) {
    & img {
      transform: scale(1.055);
    }
  }

  @media (max-width: $mobile) {
    & picture {
      height: 100%;
    }
  }
}

.about-card__590 {
  aspect-ratio: 1/0.893;

  @media (max-width: $tablet) {
    aspect-ratio: 1/0.858;
  }

  @media (max-width: $mobile) {
    aspect-ratio: 1/1.693;

    & img {
      height: 100%;
      transform: scale(1.23);
    }
  }
}

.about-card__430 {
  aspect-ratio: 1/0.652;

  @media (max-width: $tablet) {
    display: none;
  }
}