%burger-pseudo-elements {
  content: '';
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  left: 50%;
  top: 50%;
  background-color: $text-dark;
  transition-duration: $transition-duration-fast;
}

.burger-menu {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid $border-dark;

  &::before {
    @extend %burger-pseudo-elements;
    transform: translate(-50%, calc(-50% - 4px));
  }

  &::after {
    @extend %burger-pseudo-elements;
    transform: translate(-50%, calc(-50% + 4px));
  }

  @media (max-width: $tablet) {
    display: inline-block;
  }
}


.burger-btn__active {
  &::before {
    transform: translate(-50%, 0) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}