%burger-pseudo-elements {
  content: '';
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  left: 50%;
  top: 50%;
  background-color: $text-dark;
  transition-duration: $transition-duration-fast;
}

.burger-menu {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid $border-dark;
  transition-duration: $transition-duration-fast;

  &::before {
    @extend %burger-pseudo-elements;
    transform: translate(-50%, calc(-50% - 4px));
  }

  &::after {
    @extend %burger-pseudo-elements;
    transform: translate(-50%, calc(-50% + 4px));
  }

  @media (max-width: $tablet) {
    display: inline-block;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $background-container;
      cursor: pointer;

      &::before {
        background-color: $border-light;
      }

      &::after {
        background-color: $border-light;
      }
    }
  }
}


.burger-btn__active {
  &::before {
    transform: translate(-50%, 0) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

.menu-item__burger {
  display: none;
  position: relative;

  & svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    transform: translateY(7px);
  }

  & a[href="#"] {
    cursor: default;

    &::after {
      width: calc(100% - $menu-item-padding * 2);
      opacity: 1;
      transform: translate(-50%, calc(-50% - 4px));
    }
  }

  @media (max-width: $tablet) {
    display: flex;
  }
}