.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  color: $text-dark;
  border: 1px solid $border-light;
  border-radius: 40px;
  transition-duration: $transition-duration-normal;

  & picture {
    @extend %flex-center-center;
    flex: 0 0 308px;
    width: 100%;
    align-self: center;
    border-radius: 40px;
    overflow: hidden;

    & img {
      width: 100%;
      object-fit: cover;
      transform: scale(1.1);
      transition-duration: $transition-duration-normal;
    }
  }

  @media (hover: hover) {
    &:hover picture img {
      transform: scale(1);
    }

    &:hover {
      cursor: pointer;
      background-color: mix($background-body, $background-container, 95%);
    }
  }

  // @media (max-width: $tablet) {
  //   display: none;

  //   &:nth-child(-1n+5) {
  //     display: flex;
  //   }
  // }
}

.card-description {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.card-title {
  @extend %font-heading-3;
  flex: 0 0 30px;
}

.card-text {
  @extend %font-body-medium;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: clamp(24px, 100%, 72px);
}

.card-price {
  @extend %font-heading-3;
  flex: 0 0 30px;
}