.hero {
  height: 644px;
  padding-top: 101px;
  padding-left: 100px;

  border-radius: 40px;
  background-image: url('../assets/hero/img-hero-1440.webp');
  @extend %bg-to-center;

  @media (max-width: $tablet) {
    height: clamp(552px, 100vw - 124px, 644px);
    padding-top: clamp(60px, 20vw - 52px, 101px);
    padding-right: clamp(16px, 20vw - 93px, 60px);
    padding-left: clamp(16px, 20vw - 93px, 60px);
    background-image: url('../assets/hero/img-hero-768.webp');
  }

  @media (max-width: $mobile) {
    background-image: url('../assets/hero/img-hero-425.webp');
  }
}

.hero-container {
  width: clamp(200px, 100%, 530px);
  height: 444px;
  color: $text-light;
}

.hero-content {
  @extend %font-body-medium;
  margin-bottom: 40px;
}

.hero-btn {
  @extend %btn-large;
  @extend %flex-center-center;

  & .hero-btn-title {
    transform: translateX(-4px);
  }

  & .hero-btn-icon {
    transform: translateX(4px);
  }

  @media (hover: hover) {

    & .hero-btn-icon {
      opacity: 0;
    }

    & .hero-btn-title {
      transform: translateX(10px);
    }

    &:hover .hero-btn-icon {
      opacity: 1;
    }

    &:hover .hero-btn-title {
      transform: translateX(-10px);
    }
  }
}

.hero-btn-title {
  display: inline-block;
  transform: translate(10px, 1px);
  transition-duration: $transition-duration-normal;
}

.hero-btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../assets/header/coffee-cup.svg');
  transition-duration: $transition-duration-normal;
}