.menu-title {
  @extend %font-heading-2;
  color: $text-dark;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 clamp(0px, calc(100% - 1115px), 245px);

  & span {
    @extend %font-heading-2-accent;
  }
}

.menus-container {
  @extend %flex-center-center;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tab-input {
  display: none;

  @media (max-width: $tablet) {
    &:checked~.menu-container .card {
      display: flex;
      animation-name: showCard;
      animation-duration: $transition-duration-slow;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    &[portion]:checked~.menu-container .card {
      display: none;
      opacity: 0;

      &:nth-child(-1n+4) {
        display: flex;
      }
    }
  }
}



@keyframes showCard {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu-tab {
  @extend %flex-center-center;

  & label {
    @extend %flex-center-center;
    @extend %font-action-link-button;
    padding: 8px 16px 8px 8px;
    gap: 8px;

    color: $text-dark;
    border-radius: 100px;
    border: 1px solid $border-light;
    transition-duration: $transition-duration-normal;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: $text-light;
        background-color: $background-container;
      }
    }

  }

  & input:checked+label {
    background-color: $background-container;
    color: $text-light;
    cursor: default;

    & .tab-icon {
      background-color: $background-body;
    }
  }
}

.tab-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 3px 7px;

  border-radius: 100%;

  background-color: $border-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.tab-icon__coffee {
  background-image: url('../assets/tabs/cap.svg');
}

.tab-icon__tea {
  background-image: url('../assets/tabs/tea.svg');
}

.tab-icon__dessert {
  background-image: url('../assets/tabs/dessert.svg');
}

.menu-container {
  width: 100%;
  margin-bottom: 60px;

  & article {
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    grid-auto-rows: 506px;
    justify-content: center;
    gap: 40px;

    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
    overflow: hidden;
  }
}

.tab-input[value="coffee"]:checked~.tab-container label[for=tab-coffee] {
  background-color: $background-container;
  color: $text-light;
  cursor: default;

  & .tab-icon {
    background-color: $background-body;
  }
}

.tab-input[value="tea"]:checked~.tab-container label[for=tab-tea] {
  background-color: $background-container;
  color: $text-light;
  cursor: default;

  & .tab-icon {
    background-color: $background-body;
  }
}

.tab-input[value="dessert"]:checked~.tab-container label[for=tab-dessert] {
  background-color: $background-container;
  color: $text-light;
  cursor: default;

  & .tab-icon {
    background-color: $background-body;
  }
}

.tab-container {
  @extend %flex-center-center;
  gap: 14px;
  margin-bottom: 38px;

  @media (max-width: $mobile) {
    gap: 6px;
  }
}

.btn-refresh-container {
  display: none;
  justify-content: center;
  align-items: center;

  & button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    transition-duration: $transition-duration-normal;
    border: 1px solid $border-dark;
    border-radius: 100%;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: $background-container;
      }
    }
  }
}

@media (max-width: $tablet) {
  .tab-input[portion]:checked~.menu-container .btn-refresh-container {
    display: flex;
  }
}