.slider {
  --pointer: 1;
  --currentSlide: 0vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 41px;

  padding: 0 4px;

  @media (hover: hover) {
    &:hover .dot-bar {
      animation-play-state: paused;
    }
  }

  &:active .dot-bar {
    animation-play-state: paused;
  }
}

.slider-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.slider-dots {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 4px;
}

.slider-btn-left,
.slider-btn-right {
  @extend %btn-round;
  @extend %border-dark;
  stroke: $text-dark;

  @media (max-width: $mobile) {
    display: none;
  }
}

@media (hover: hover) {

  .slider-btn-left:hover,
  .slider-btn-right:hover {
    background-color: $background-container;
  }

  .slider-btn-left:hover svg,
  .slider-btn-right:hover svg {
    stroke: $text-light;
  }
}


.slider-viewport {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  flex: 0 0 100%;
  height: 100%;

  transition-duration: $transition-duration-normal;
  transform: translateX(var(--currentSlide));
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;

  width: clamp(255px, 100vw - 288px, 480px);
  height: 100%;
  margin: 0 auto;

  @media (max-width: $mobile) {
    min-width: 348px;
  }
}

.slide-content-img {
  width: 100%;
  height: 100%;
  flex: 0 0 480px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $tablet) {
    flex: 0 0 clamp(348px, 100vw - 288px, 480px);
  }
}

.slide-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 16px;

  width: 100%;
  flex: 1 1 auto;

  color: $text-dark;
}

.slide-description-title {
  @extend %font-heading-3;
}

.slide-description-content {
  // flex: 1 1 auto;
  text-align: center;

  @extend %font-body-medium;
}

.slide-description-price {
  @extend %font-heading-3;
}

.slider-dots-item {
  display: inline-block;
  width: 40px;
  height: 4px;

  border-radius: 100px;
  background-color: $border-light;

  & .dot-bar {
    width: 0;
    background-color: $border-dark;
    height: 100%;
  }

  &[pointer] .dot-bar {
    animation-name: dots-filling;
    animation-timing-function: linear;
    animation-duration: $animation-autoslider;
  }
}

@media (max-width: $tablet) {
  .slider {
    padding: 0;
  }
}

@keyframes dots-filling {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}