$background-backdrop: hsla(40, 2%, 25%, 0.8);
$background-body: hsla(28, 29%, 84%, 1);
$background-container: hsla(35, 9%, 37%, 1);
$border-dark: hsla(35, 9%, 37%, 1);
$border-light: hsla(27, 14%, 72%, 1);
$text-colors-primary: hsla(0, 0%, 18%, 1);
$text-accent: hsla(24, 25%, 58%, 1);
$text-dark: hsla(40, 2%, 25%, 1);
$text-light: hsla(28, 29%, 84%, 1);
$blank: hsla(0, 0%, 100%, 1);

$transition-duration-normal: 300ms;
$transition-duration-slow: 1000ms;

$transition-delay-normal: 500ms;