@import 'var';
@import 'fonts';
@import 'header';
@import 'hero';
@import 'common';
@import 'favorite-coffee';
@import 'slider';
@import 'about';
@import 'mobileapp';
@import 'footer';
@import 'menu';
@import 'card';
@import 'burger';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html {
  height: 100dvh;
}

body {
  height: 100%;
  background: $background-body;
}

.container {
  width: clamp(320px, 100%, 1440px);
  margin: 0 auto;
  padding: 20px 40px 40px;

  @media (max-width: $tablet) {
    padding: 20px clamp(16px, 10vw - 36px, 40px) 40px;
  }
}

.section {
  margin-bottom: 100px;
}

.h2-title {
  text-align: center;
  color: $text-dark;
  @extend %font-heading-2;

  & span {
    @extend %font-heading-2-accent;
  }
}

.main-title {
  @extend %font-heading-1;
  margin-bottom: 41px;

  & span {
    @extend %font-heading-1-accent;
    color: $text-accent;
  }
}