.about__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  font-size: var(--font-size-normal);
  color: var(--text-color-normal);
  line-height: calc(var(--font-size-normal) * 2);

  & button {
    font-size: inherit;
    line-height: inherit;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;

    @media (hover: hover) {
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
