main {
  --max-width: 2400px;
  --min-width: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  width: clamp(var(--min-width), 100%, var(--max-width));
  height: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 0;

  background-image: url("../../../hangman/components/main/img/main.webp");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    background-image: url("../../../hangman/components/main/img/main-small.webp");
  }
}
