main {
  --max-width: 2400px;
  --min-width: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  width: clamp(var(--min-width), 100%, var(--max-width));
  margin: 0 auto;
  padding: 1rem;
  height: 100%;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}