.filter-container {
  --color-background-container: color-mix(in srgb, var(--color-background) 90%, var(--color));
    --color-container: color-mix(in srgb, var(--color) 80%, var(--color-background));

  flex: 1 1 30%;
}

@media (max-width: 640px) {
  .filter-container {
    width: clamp(1rem, 100%, 23rem);
  }
}