:root {
  --form-background-color: rgb(230, 230, 230);
  --form-background-valid: rgb(235, 255, 235);
  --form-background-invalid: rgb(255, 235, 235);
  --form-color-inactive: rgb(170, 170, 170);
  --form-color-active: rgb(0, 0, 0);
  --form-label-valid: rgb(0, 255, 0);
  --form-label-invalid: rgb(255, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100dvh;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._nodisplay {
  display: none !important;
}