.game {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image: url("./game-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}