.row-container {
  display: flex;
  width: 100%;
  gap: 0;
}

.field__row {
  --bg-color-word--complete: rgb(200, 180, 120);
  --color-word-complete: rgb(0, 0, 0);
  --color-droparea-border: rgb(0, 127, 255);
  --color-droparea-bg: rgb(225, 255, 210);

  flex: 1 1 100%;
  flex-wrap: nowrap;
  min-height: var(--row-height);
  padding-left: 0.4rem;
  padding-right: 1rem;

  display: flex;
  align-items: center;
  gap: 0.2rem;

  font-size: inherit;
  border: 2px dashed transparent;
  user-select: none;
  animation-name: none;

  &:has([complete]) {
    pointer-events: none;

    & .field__word {
      flex: 1 1 1rem;

      & .puzzle-core {
        flex: 1 1 100%;
      }

      &::before, .puzzle-core, .puzzle-right-part {
        color: var(--color-word-complete);
        background-color: var(--bg-color-word--complete);
      }

      &[width] {
        width: auto;
      }
    }
  }

  &[droppable] {
    transition-duration: 300ms;
    border: 2px dashed var(--color-droparea-border);
    background-color: var(--color-droparea-bg);
  }
}

.field__word {
  --animation-delay: 500ms;
  --x-coord: 0;
  --y-coord: 0;
  --color-hover: rgb(255, 255, 200);

  &[go-away] {
    z-index: 1;
    animation-name: word-go-away;
    animation-duration: var(--animation-delay);
    animation-iteration-count: 1;
  }

  @container (max-width: 1024px) {
    --font-size: 1.4rem;
    --row-height: 2.4rem;
  }

  @container (max-width: 768px) {
    --font-size: 1.2rem;
    --row-height: 2rem;
  }

  @container (max-width: 425px) {
    --font-size: 1rem;
    --row-height: 1.6rem;
  }
}

.ghost-element,
.ghost-element:has(.puzzle-core),
.ghost-element:has(.puzzle-element_mask),
.ghost-element:has(.puzzle-right-part) {
  --ghost-size: 1rem;
  transition-duration: 1000ms !important;
  transform: translateX(var(--ghost-size));
  border: 1pz solid red !important;

  &::before {
    width: calc(var(--ghost-size)*2) !important;
    mask-position: calc(var(--ghost-size) + 3px) !important;
    left: calc(var(--ghost-size)*-2);
  }
}

.container-destination,
.container-source {
  --font-size: 1.5rem;
  --row-height: calc(var(--font-size) * 1.7);

  container-type: inline-size;
  display: flex;
  font-size: inherit;
  user-select: none;
}

.container-destination {
  --background-color: rgb(255, 248, 220);

  flex: 1 1 auto;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1rem 2rem;

  background-color: var(--background-color);
  background-image: url("./bg-container.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 20%;
  border-bottom: 2px solid grey;
}

.container-source {
  flex: 0 1 calc(var(--row-height) * 2.5);
  justify-content: center;
  align-items: flex-start;
  padding: 0.2rem 2rem;

  background-color: rgb(220, 220, 220);
  border-bottom: 2px solid rgb(128, 128, 128);

  & .field__row {
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    & .puzzle-element {
      flex: 1 1 1rem;
    }

    & .puzzle-element[width] {
      flex: 0 1 var(--width-element);
    }
  }
}

.line-number {
  flex: 0 0 2rem;
  padding-top: 0.3rem;
  font-size: 1.5rem;
  user-select: none;

  &::after {
    content: "...";
    position: fixed;
    z-index: -1;
    padding-left: 2rem;
  }
}

@keyframes word-go-away {
  0%{
    transform: translate(var(--x-coord), var(--y-coord));
  }
  1% {
    transform: translate(var(--x-coord), calc(var(--y-coord) - 3rem));
  }
  30% {
    transform: translate(calc(200% + var(--x-coord)), calc(var(--y-coord) - 7rem));
  }
  100%{
  }
}
