.row-container {
  --font-size: 1.5rem;
  --row-height: 2.5rem;

  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.field__row {
  --color-complete: rgb(150, 150, 150);
  --color-incomplete: rgb(0, 0, 0);
  --color-droparea-border: rgb(0, 127, 255);
  --color-droparea-bg: rgb(225, 255, 210);

  flex: 1 1 100%;
  flex-wrap: wrap;
  min-height: var(--row-height);

  display: flex;
  align-items: center;
  gap: 0.4rem;

  border: 2px dashed transparent;
  color: var(--color-incomplete);
  user-select: none;
  animation-name: none;

  &:has([complete]) {
    pointer-events: none;
    color: var(--color-complete);

    & .field__word {
      box-shadow: none;
      background-color: var(--color-droparea-bg);
    }
  }

  &[droppable] {
    transition-duration: 300ms;
    border: 2px dashed var(--color-droparea-border);
    background-color: var(--color-droparea-bg);
  }
}

.field__word {
  --animation-delay: 500ms;
  --x-coord: 0;
  --y-coord: 0;
  --color-shadow: rgb(187, 107, 2);
  --background-color-word: rgb(255, 248, 220);
  --background-color-hover: rgb(187, 107, 2);
  --color-hover: rgb(255, 255, 200);
  --background-color-correct: rgb(125, 255, 0);
  --background-color-wrong: rgb(255, 128, 0);

  display: flex;
  position: relative;
  z-index: 1;
  flex: 0 1 2rem;
  justify-content: center;
  align-items: center;

  border: 1px solid grey;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;

  font-size: var(--font-size);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--color-shadow);
  background-color: var(--background-color-word);
  transition-duration: 500ms;
  touch-action: none;

  &[go-away] {
    z-index: 1;
    animation-name: word-go-away;
    animation-duration: var(--animation-delay);
    animation-iteration-count: 1;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--background-color-hover);
      color: var(--color-hover);
    }
  }

  @container (max-width: 1024px) {
    --font-size: 1.4rem;
    --row-height: 2.4rem;
  }

  @container (max-width: 768px) {
    --font-size: 1.2rem;
    --row-height: 2rem;
  }

  @container (max-width: 425px) {
    --font-size: 1rem;
    --row-height: 1.6rem;
  }
}

.ghost-element {
  --ghost-size: 1rem;
  position: relative;
  transition-duration: 200ms;
  transform: translateX(var(--ghost-size));

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    left: calc(var(--ghost-size)*-1);
    width: var(--ghost-size);
    height: 2rem;
  }
}

.container-destination,
.container-source {
  container-type: inline-size;
  display: flex;
  gap: 0.5rem;
  user-select: none;
}

.container-destination {
  --background-color: rgb(255, 248, 220);

  flex: 1 1 auto;
  flex-direction: column;
  padding: 2rem;

  background-color: var(--background-color);
  background-image: url("./bg-container.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 20%;
  border-bottom: 2px solid grey;
}

.container-source {
  flex: 0 1 4rem;
  justify-content: center;
  padding: 0.5rem;

  font-size: 1.5rem;
  background-color: rgb(220, 220, 220);
  border-bottom: 2px solid rgb(128, 128, 128);

  & .field__row {
    justify-content: center;
  }
}

.line-number {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  user-select: none;

  &::after {
    content: "...";
    position: fixed;
    z-index: -1;
    padding-left: 1rem;
  }
}

.word_wrong {
  background-color: var(--background-color-wrong);
}

.word_correct {
  background-color: var(--background-color-correct);
}

@keyframes word-go-away {
  0%{
    transform: translate(var(--x-coord), var(--y-coord));
  }
  1% {
    transform: translate(var(--x-coord), calc(var(--y-coord) - 3rem));
    background-color: var(--background-color-hover);
  }
  30% {
    transform: translate(calc(200% + var(--x-coord)), calc(var(--y-coord) - 7rem));
  }
  100%{
  }
}
