.footer {
  --background-color: rgb(222, 184, 135);
  --btn-background-color: rgb(222, 190, 140);
  --btn-active-bg-color: rgb(125, 255, 0);
  --btn-check-active-bg-color: rgb(0,127,255);
  --text-color: rgb(150, 120, 70);
  --text-active-color: rgb(0, 0, 0);
  --border-active-color: rgb(100, 70, 0);
  --btn-shadow: rgb(255, 255, 230);

  display: flex;
  flex: 0 0 5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  gap: 2rem;

  background-color: var(--background-color);
}

.footer__btn {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.3rem;

  font-weight: 700;
  color: var(--text-color);
  background-color: var(--btn-background-color);
  pointer-events: none;
  user-select: none;
}

.btn_active {
  pointer-events: all;
  border: 1px solid var(--border-active-color);
  color: var(--text-active-color);
  background-color: var(--btn-active-bg-color);

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 1rem var(--btn-shadow);
    }
  }
}

.btn_check {
  background-color: var(--btn-check-active-bg-color);
}

.btn_auto-complete {
  --icon-size: 3rem;

  position: absolute;
  right: var(--main-padding-lr);
  pointer-events: all;
  border: 1px solid var(--border-active-color);
  color: var(--text-active-color);

  @media (hover: hover) {
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 1rem var(--btn-shadow);
        background-color: aliceblue;

        &::before {
          content: '';
          position: absolute;
          width: var(--icon-size);
          height: var(--icon-size);
          inset: 0;
          top: -100%;
          left: 50%;
          transform: translateX(-50%);

          background-image: url("./btn-auto-complete/help.gif");
          background-repeat: no-repeat;
          background-size: contain;
          mix-blend-mode: multiply;
        }
      }
    }
  }

.visibility_hidden {
  visibility: hidden;
}