  .game-container {
    --columns-count: 20;

    display: grid;
    grid-template-columns: repeat(var(--columns-count), 1fr);
    grid-template-rows: repeat(5, auto);

    width: clamp(0px, 96%, calc(1.5rem * var(--columns-count)));
    margin: 0 auto;
    aspect-ratio: 1/1;

    border: 2px solid var(--border-color);
    border-bottom: none;
    border-right: none;
    background-color: rgb(200, 200, 200);
  }
