.notice-container {
  position: fixed;
  top: 0;
  transform: translateY(-100%);

  width: clamp(5rem, 100vw, 60rem);
  min-height: 2rem;
  padding: 1rem 2rem;

  font-size: 1.2rem;
  text-align: center;
  color: var(--notice-text-color);
  background-color: var(--notice-background);

  border: 2px solid var(--border-color);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.notice-container_visable {
  transform: translateY(0%);
}

.notice_error {
  color: var(--notice-text-color-error);
  background-color: var(--notice-background-error);
}