.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  background-color: rgb(231, 255, 255);
}

.cell[role="game"] {
  background-color: white;
  color: rgba(0, 0, 0, var(--opacity-cell-text, 0));
  border: 1px dashed lightgray;
}

.cell_fill[role="game"] {
  background-color: black;
  border: 1px dashed black;
}

.cell[role="empty"] {
  background-color: rgb(255, 255, 255);
}

.cell[row] {
  border-bottom: 2px solid black;
}

.cell[first-row] {
  border-top: 2px solid black;
}

.cell[col] {
  border-right: 2px solid black;
}

.cell[first-col] {
  border-left: 2px solid black;
}

@media (hover: hover)  {
.cell[role="game"]:hover {
    cursor: pointer;
    filter: invert(0.2);
  }
}
