* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --max-width: 71rem;
  --background-color-html: rgb(50, 50, 50);
  --backgound-color-page: rgb(242, 228, 208);
  --inputs-width: 11rem;
  background-color: var(--background-color-html);
}

html, body {
  height: 100dvh;
}

.btn_disabled {
  pointer-events: none;
}